{# src/CryptoConseils/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "CryptoConseilsBlogBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block cryptoconseilsblog_body %}

    <h2>Liste des articles</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('cryptoconseils_blog_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'articles</li>
        {% endfor %}
    </ul>

{% endblock %}